<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:background="@color/primaryBackground"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/linearLayout1">
    <android.support.v4.widget.DrawerLayout
        android:id="@+id/Draw_Layout"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:orientation="vertical">
    <!-- The Main Content View-->
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="300px">
            <android.support.v7.widget.RecyclerView
                android:id="@+id/ProductListRecyclerView"
                android:focusable="true"
                android:clickable="true"
                android:clipToPadding="false"
                android:dividerHeight="5dp"
                android:layout_width="match_parent"
                android:layout_height="match_parent" />
        </RelativeLayout>
        <ListView
            android:id="@+id/Left_Drawer"
            android:layout_width="240dp"
            android:layout_height="match_parent"
            android:layout_gravity="start"
            android:choiceMode="singleChoice"
            android:divider="#818181"
            android:dividerHeight="1dp"
            android:background="#eaeaea" />
    </android.support.v4.widget.DrawerLayout>
</LinearLayout>